build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |+
    #/bin/sh
    docker compose up


test:
  - name: ""
    configType: artillery
    configPath: Garvit-Jethwani/java-microservice/
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-08-03T09:40:12.986Z
